.baord-list-cards{
    position: relative;
}

.baord-list-cards h4{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 90%;
    margin: 4px auto;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#baord-list-card{
    margin-left: 10px;
    cursor: pointer;
}

#add-card-btn{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#dashboard-addcard-cardname{
    height: 30px;
    width: 250px;
    margin: 10px;
    padding-left: 5px;
}
#due-date-picker-container{
    margin-left: 10px;
}